<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkP8z0xil3bvDAqwUreqBgrcx7ZpceGBw</string>
	<key>GCM_SENDER_ID</key>
	<string>811569920626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.storyweave</string>
	<key>PROJECT_ID</key>
	<string>storyweave-final</string>
	<key>STORAGE_BUCKET</key>
	<string>storyweave-final.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811569920626:ios:13c02fed3eef3410d3e0eb</string>
</dict>
</plist>